.home-container {
    /* background-image: url("../images/1.png"); */
    /* background-image: url("../images/IM.jpg"); */
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    /* border-radius: 10%; */
    /* position: fixed; */
  }
  .text-black {
    color: black;
    /* font-weight: 4rem; */
  }
  
  